.btn {
  &.btn-primary {
    background: transparent;
    text-transform: uppercase;
    font-weight: $font-weight-normal;
    border-radius: 0;
    border: 1px solid $color-black;
    position: relative;
    line-height: 1;
    padding: 2.4rem;

    @include hover-focus-active() {
      .dots {
        &:before,
        &:after {
          border: 0px solid $white;
          transition: border .5s;
          width: 0;
          height: 0;
        }
      }

    }

    .dots {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1.1rem;

      &:before,
      &:after {
        content: "";
        position: absolute;
        display: flex;
        top: -0.6rem;
        left: -0.6rem;
        width: 1.1rem;
        height: 1.1rem;
        background: $color-black;
        border: 5px solid $white;
      }

      &.dots-left {
        left: 0;

        &:after {
          top: auto;
          bottom: -0.6rem;
        }
      }

      &.dots-right {
        right: 0;

        &:before,
        &:after {
          left: auto;
          right: -0.6rem;
        }

        &:after {
          top: auto;
          bottom: -0.6rem;
        }
      }
    }
  }
}
