<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{{title}} | Ruby Elders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="{{root}}css/app.css" type="text/css">
    <link rel="icon" type="image/png" href="img/favicon.png" />
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-logo">
                <a href="/" title="Logo Ruby Elders">
                    <img src="img/logo.svg" alt="Logo Ruby Elders">
                </a>
            </div>
            <div class="header-hire">
                <a href="mailto: info@rubyelders.com" class="btn btn-primary">
                    <span class="dots dots-left"></span>
                    Hire Us
                    <span class="dots dots-right"></span>
                </a>
            </div>
        </div>
    </div>
</header>

{{> body}}

<footer>

</footer>

{{> footerjavascripts}}
</body>
</html>
