@font-face {
  font-family: 'Caslon';
  src: url('../fonts/caslon.eot');
  src: local('☺'), url('../fonts/caslon.woff') format('woff'), url('../fonts/caslon.ttf') format('truetype'), url('../fonts/caslon.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon';
  src: url('../fonts/caslon-bold.eot');
  src: local('☺'), url('../fonts/caslon-bold.woff') format('woff'), url('../fonts/caslon-bold.ttf') format('truetype'), url('../fonts/caslon-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon';
  src: url('../fonts/caslon-bold-italic.eot');
  src: local('☺'), url('../fonts/caslon-bold-italic.woff') format('woff'), url('../fonts/caslon-bold-italic.ttf') format('truetype'), url('../fonts/caslon-bold-italic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nova-Light';
  src: url('../fonts/Nova-Light.eot');
  src: local('☺'), url('../fonts/Nova-Light.woff') format('woff'), url('../fonts/Nova-Light.ttf') format('truetype'), url('../fonts/Nova-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nova-Light';
  src: url('../fonts/Nova-Light-It.eot');
  src: local('☺'), url('../fonts/Nova-Light-It.woff') format('woff'), url('../fonts/Nova-Light-It.ttf') format('truetype'), url('../fonts/Nova-Light-It.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}
