/* General */

h2 {
  margin-bottom: 3rem;

  &.header-custom {
    margin-bottom: 6rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 3rem;
    }
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

.mb-12 {
  margin-bottom: 12rem;
}


.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  li {
    &:not(:last-child) {
      margin-bottom:  2rem;
      line-height: 1;
    }
  }
}