// Header

.header {
  padding: 2.9rem 0 5.6rem;

  @include media-breakpoint-up(md) {
    padding: 4.4rem 0 10rem;
  }

  .header-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .header-logo {
    flex: 0 1 12rem;

    @include media-breakpoint-up(md) {
      flex: 0 1 15.8rem;
    }
  }
}